{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        {% for item in items %}
            {{ item.title }} | <a href="{{ path('oneItem', {id: item.id}) }}">View</a> {% if app.user.hasRole('ROLE_ADMIN') %}| <a href="{{ path('removeItem', {id: item.id}) }}">Remove</a><br /> {% endif %} </br>
        {% endfor %}
    </div>
{% endblock %}