{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        {% for item in items %}
            {{ item.title }} | <a href="{{ path('oneItem', {id: item.id}) }}">View</a> | <a href="{{ path('removeItem', {id: item.id}) }}">Remove</a><br />
        {% endfor %}
    </div>
{% endblock %}